*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <!-- parte superiore blu --> */
header{
  background-color: #0C325A;
  background-image: url(../img/background-header.png);
  background-size: 45%;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 400px;
}
/* <!-- barra superiore con logo info e login --> */
.container{
  margin: auto;
  width: 85%;
}

.header-top{
  /* height: 60px;  */
  padding-top: 10px;
  line-height: 60px;
}

.header-top::after{
  content:"";
  display: table;
  clear: both;
}

.header-top-logo{
  float: left;
  width: 12%;
  margin-right: 1%;
}
/* <!-- sezione nav con info --> */
.header-top-nav{
  float: left;
  width:49%;
}
/* in comune tra nav-nar e nav-login */
.navbar{
  list-style: none;
}
.navbar li{
  display: inline-block;
  margin-left: 15px;
}

.navbar li a,button{
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 80%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

/* <!-- sezione nav con login --> */
.header-top-login{
  float: left;
  text-align: right;
  width: 35%;
}

button{
  height: 40px;
  line-height: 40px;
  border: 1px solid white;
  border-radius: 8px;
}

button a{
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 80%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

}

.signin{
  padding: 0 40px;
  background-color: inherit;
  margin-left: 10px;

}
.signup{
  margin-left: 10px;
  padding: 0 10px;
  background-color: #7CBB02;
  border:1px solid #7CBB02;
}

/* inizio banner */
.banner h1{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  line-height: 50px;
}

/* blocco grigio sotto il banner */
.down-banner{
  background: #D3D3D3;
  text-align: center;
  padding-top: 20px;
  line-height: 30px;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.down-banner span{
  color:grey;
}
