*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <!-- parte superiore blu --> */
header{
  background-color: #0C325A;
  background-image: url(../img/background-header.png);
  background-size: 45%;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 400px;
}
/* <!-- barra superiore con logo info e login --> */
.container{
  margin: auto;
  width: 85%;
}

.header-top{
  /* height: 60px;  */
  padding-top: 10px;
  line-height: 60px;
}

.header-top::after{
  content:"";
  display: table;
  clear: both;
}

.header-top-logo{
  float: left;
  width: 12%;
  margin-right: 1%;
}
/* <!-- sezione nav con info --> */
.header-top-nav{
  float: left;
  width:49%;
}
/* in comune tra nav-nar e nav-login */
.navbar{
  list-style: none;
}
.navbar li{
  display: inline-block;
  margin-left: 15px;
}

.navbar li a,button{
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 80%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

/* <!-- sezione nav con login --> */
.header-top-login{
  float: left;
  text-align: right;
  width: 35%;
}

button{
  height: 40px;
  line-height: 40px;
  border: 1px solid white;
  border-radius: 8px;
}

button a{
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 80%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

}

.signin{
  padding: 0 40px;
  background-color: inherit;
  margin-left: 10px;

}
.signup{
  margin-left: 10px;
  padding: 0 10px;
  background-color: #7CBB02;
  border:1px solid #7CBB02;
}

/* inizio banner */
.banner h1{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  line-height: 50px;
}

/* blocco grigio sotto il banner */
.down-banner{
  background: #D3D3D3;
  text-align: center;
  padding-top: 20px;
  line-height: 30px;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.down-banner span{
  color:grey;
}

/* blocchi illustrativi */
.big-block{
  margin: 0 9%;
}
.block{
  float:left;
  width: calc(100% /3);
  /* togliere il commento a yellow per vedere le dimensioni
  avrei voluto fare i 3 blocchi uguali ma se poi gli
   imposto una dimensione e cambia il contenuto poi si sballa tutto
   allora visto che sotto c'è comunque un hr li lascio direttamente cosi  */
  /* background:yellow; */
}

.block img{
  width: 100%;
  padding-top: 30px;
  height: 150px;
}

.block h3{
  color:#7CBB02;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.block hr{
  width: 25%;
  margin: auto;
}

.block p{
  color:grey;
  padding: 20px;
  text-align: center;
}

.big-block::after{
  content: "";
  display: table;
  clear: both;
}
/* fine trittico blocchi */
/* sezione finale */
.big-line{
  margin: 0 1%;
}


.block-final img{
  margin: 5% 0;
  width: 30%;
  float: left;
  margin-left:15%;
}

.block-final-text{
  float: left;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5%;
  margin-left: 8%;
  font-size: 16px;
}

.block-final-text p{
  padding: 10px 0;
  color:grey;
}

.block-final-text a{
  font-size: 10px;
  color:#5586BC;
}

.block-final::after{
  content:"";
  display: table;
  clear: both;
}

/* footer */
footer{
  line-height: 80px;      /*   da commentare */
  background: #D3D3D3;
  /* position: fixed; */
  /* bottom:0; */
  width: 100%;
}

footer h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
